.title {
  padding-top: 10px;
  display: grid;
  grid-template: auto / 1fr 1fr;
  background-color:#424242;
  width:100%;
  color:white;
}
.title img{
  display: block;
  margin:5% 50%;
  transform: translateX(-50%);
  width: 60%;
 
}
p{
  padding-top: 20px;
  font-size: 30px;
}

.price{
  margin:10px 0;
  font-weight: bold;
}
.number{
  height: 20px;
  font-size: 20px;
  line-height: 100%;
  margin: 10px 0 0 0;
}

input{
  line-height: 100%;
  border:none;
  width: 40px;
  height: 20px;
  text-align: center;
  text-justify: auto;
  font-size: 15px;
  margin: 10px;
}
.add-to{
margin: 30px 0;
}
.add-to button{
  margin:30px 40px 0 0;
 
}
.mat-divider{
  margin: 5%;
}
.spec p{
  font-size: 20px;
  line-height: 30px;
  margin: 30px 0;
}
.comment{
  margin: 10px 200px;

}
.mat-divider{
 margin: 5px 0;
}
.rate-mini{
  display: flex;
  flex-flow:row nowrap;
  margin: 10px 0;
}