.container{
  overflow: hidden;
  margin:0 0 0 0;
  }

.mat-drawer{
  width: 200px;
  min-width: 200px;
  margin-left: 10px;
  background-color: transparent;

}
.price .mat-form-field{
  width:50px;
  margin-left: 10px;
  margin-right: 5px;
}
.mat-drawer-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}
.example-card {
  width: 200px;
  margin: 30px;
  
}


.example-header-image {
  background-image: url('https://secure.img1-fg.wfcdn.com/im/99678272/resize-h800%5Ecompr-r85/2961/29610548/%2527Mushroom+Tea+Party%2527+by+Andrea+Doss+Painting+Print+on+Wrapped+Canvas.jpg');
  background-size: cover;
}

.sort{
  display: grid;
  grid-template-columns:300px 300px 200px;
  height: 100px;
  }

.sort .option{
  margin-left: 210px;
  height: 30px;
  border: gray solid 1px;
  border-radius: 5px;
  width: 200px;
  margin-top:60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
 }

 .sort .res{
 margin-top: 60px;
 line-height: 40px;
 color:blanchedalmond
    }

.sort .option-field{
  width: 200px;
  font-size: 20px;
}

.mat-drawer-container input{
  line-height: 100%;
  text-align: center;
  
}
.price h2,.rate h2{
  line-height: 100%;
  font-weight: bold;
}

.example-card{
  transform:scale(1,1);transition: all .1s ease-out;
}
.example-card:hover{
  background: rgb(230, 157, 193);
  transform:scale(1.1,1.1);
}
.rate-mini{
  display: flex;
  flex-flow: row nowrap;
   margin: 10px 0;
  
}