
<div class="container">
  <div class="sort">
    
    <div class="option">
      <mat-select>
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>

  </div>
  <div></div>
  <div class="res">
      30 results are found!
  </div>
</div>
  <mat-drawer-container>
    
  
     <mat-drawer  mode="side" opened>

      <div class="price">
        <h1 style="color:#C2185B">My preference</h1>
        <h2>Price</h2>
      <mat-form-field>
        <mat-label matPrefix>$</mat-label>
        <input matInput  type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label matPrefix>$</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <button mat-mini-fab color="accent">
        <mat-icon>check</mat-icon>
      </button>
      </div>
    
      <div class="rate">
        <h2>Rate</h2>
        <div class="rate-mini" style="color: yellow;">
       <div>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
       </div>
       
          <button>up</button>
        </div>
      
      
        <div class="rate-mini" style="color: yellow">
          <div>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon style="color: #e6ebf1">grade</mat-icon>
            <mat-icon style="color: #e6ebf1">grade</mat-icon>
          </div>
          <button>up</button>
        </div>
     
      
        <div class="rate-mini" style="color: yellow">
          <div>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon style="color: #e6ebf1">grade</mat-icon>
            <mat-icon style="color: #e6ebf1">grade</mat-icon>
          </div>
          <button>up</button>
        </div>
      </div>
    
    </mat-drawer>
    


    <mat-drawer-content>
      

      <mat-card routerLink="/detail" *ngFor="let detail of details" class="example-card" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{detail.title}}</mat-card-title>
        <mat-card-subtitle>{{detail.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{detail.imgUrl}}" alt="Photo of lion's mane">
      <mat-card-content>
        <p>
         Price:{{detail.price}}CAD
        </p>
        <p>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>star_border</mat-icon>
          <mat-icon>star_border</mat-icon>
         </p>
       
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>buy it now</button>
      </mat-card-actions>
    </mat-card>
                
    
  </mat-drawer-content>
  
  </mat-drawer-container>
</div>


