<app-swiper></app-swiper>
  <div class="course">
    <div [routerLink]="['/productspage','Spores']" class="features">
      <div class="imgBox">
        <img  src="https://s3.amazonaws.com/cdn.fieldforest.net/images/uploads/category_83_5012.jpg" alt="photo of mushroom spawn">
        <div class="img-tip">Spores</div>
      </div>
    </div>
    <div [routerLink]="['/productspage','Freshis']" class="features">
      <div class="imgBox">
        <img  src="https://s3.amazonaws.com/cdn.fieldforest.net/images/uploads/category_174_5521.jpg" alt="Photo of fresh oyster mushroom ">
        <div class="img-tip">Fresh mushroom</div>
      </div>
    </div>
    <div [routerLink]="['/productspage','Grow-kits']" class="features">
      <div class="imgBox">
        <img  src="https://s3.amazonaws.com/cdn.fieldforest.net/images/uploads/category_93_3669.jpg" alt="Photo of grow-kits">
        <div class="img-tip">Grow-kits</div>
      </div>
    </div>
  </div>
